<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>

<p>
  <strong>Photo:</strong>
  <br>
  <img style="max-height: 300px;" src=<%= @article.photo %>>
</p>

<p>
  <strong>Text:</strong>
  <%= @article.text %>
</p>



<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to 'Back', articles_path %>
